body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    --color-1: #1b1b1b;
    --color-2: #333333;
    --color-3: #FFC107; 

}
